{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="alert alert-success text-center">
        Form Records
    </h1>
    <div class="d-flex flex-wrap justify-content-between align-items-center gap-2 mb-4">

        <h3 class="mb-0">List of Users</h3>

        <div class="d-flex gap-2 flex-wrap">

            <a href="{% url 'home' %}" class="btn btn-primary">
                Add
            </a>
        <a href="{% url 'logout' %}" class="btn btn-danger">
                Logout
            </a>

        </div>
    </div>
    <!-- Messages -->
    {% if messages %}

        {% for message in messages %}

            <div class="alert alert-danger">
                {{ message }}
            </div>

        {% endfor %}

    {% endif %}
<form method="GET" action="{% url 'record' %}" class="row g-2 mb-4">
   <!-- Name Dropdown Search -->

    <div class="col-md-4">

        <input 
            list="nameList"
            type="text"
            class="form-control"
            name="name"
            value="{{name}}"
            placeholder="Search Name">
        <datalist id="nameList">

            {% for n in names %}
                <option value="{{n}}">
            {% endfor %}

        </datalist>

    </div>
    <!-- Phone Dropdown Search -->

    <div class="col-md-4">

        <input 
            list="phoneList"
            type="text"
            class="form-control"
            name="phone"
            value="{{phone}}"
            placeholder="Search Phone">
        <datalist id="phoneList">

            {% for p in phones %}
                <option value="{{p}}">
            {% endfor %}

        </datalist>

    </div>
    <!-- Email Dropdown Search -->

    <div class="col-md-4">

        <input 
            list="emailList"
            type="text"
            class="form-control"
            name="email"
            value="{{email}}"
            placeholder="Search Email">

        <datalist id="emailList">
            {% for e in emails %}
                <option value="{{e}}">
            {% endfor %}
        </datalist>
    </div>
    <div class="col-12">

        <button type="submit" class="btn btn-info w-100">
            Search
        </button>

    </div>
</form>
    {% if data %}

    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover text-center align-middle">
            <thead class="table-dark">
                <tr>
                    <th>S.No.</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th width="180">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for i in data %}
                <tr>
                    <td>
                        {{ forloop.counter }}
                    </td>
                    <td>
                        {{ i.name }}
                    </td>
                    <td>
                        {{ i.email }}
                    </td>
                    <td>
                        {{ i.phone }}
                    </td>
                    <td>
                        <div class="d-flex justify-content-center gap-2 flex-wrap">
                            <!-- Update Button -->

                            <form action="{% url 'leads:update_lead' i.id %}" method="get">

                                {% csrf_token %}

                                <button class="btn btn-success">
                                    Update
                                </button>

                            </form>

                            <!-- Delete Button -->

                            <form action="{% url 'leads:delete_lead' i.id %}" method="post">

                                {% csrf_token %}

                                <button class="btn btn-danger">
                                    Delete
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <div class="alert alert-warning text-center">
                 No records found.
                </div>
    {% endif %}
</div>
{% endblock content %}


